<h1> Timeline </h1>
<%= button_to "Create a new post", new_post_path, method: :get, id: "new_post" %>

<div id="posts">
  <% @posts.each do |post| %>
    <div class="post" id="<%= post.id %>" >
      <div class="post_header">
      <% if current_user.picture? %>
        <%= image_tag current_user.picture.url, width: 40, height: 40 %>
      <% else %>
        <img src="https://www.votipets.com/images/avatars/anonymous.jpg" style="width: 40px">
      <% end %>
        <%= post.user_email %><span class="post_date"> at <%= post.time_format %></span>
      </div>
      <div class="post_body">
        <p><%= simple_format(post.message) %></p>
      </div>
      <div class="post_footer">
        <%= button_to "Comment", post_path(post.id), method: :get %>
        <% if post.liked_by(current_user) %>
          <%= button_to "Unlike", post_like_path(post.id, post.find_likes(current_user)), method: :delete, class: "like_button" %>
        <% else %>
          <%= button_to "Like", post_likes_path(post.id), class: "like_button" %>
        <% end %>

        <div id="likesnumber">Number of likes <%= post.count_likes %></div>
      </div>
    </div>

  <% end %>
</div>
