<h1> Timeline </h1>

<div id="posts">
  <ul>
    <% @posts.each do |post| %>
      <li> <a href='posts/<%= post.id %>' ><%= post.message %></a> <%= post.time_format %> <%= post.user_email%> </li>
    <% end %>
  </ul>
</div>
<%= button_to "Create a new post", new_post_path, method: :get %>
