<h1><%= @post.message %></h1>
<%if !!@findlike %>
  <%= button_to 'Unlike', post_like_path(@post, @findlike),
            data: {}, :method => :delete, id: "like_button" %>
  <% else %>
    <%= form_for [@post, Like.new] do |form| %>
    <%= form.submit "Like" , id: "like_button" %>
  <% end %>
<% end %>

<div id="likesnumber">Number of likes <%=@postlikescount%></div>

<br> Comments

<ul>
<% @comments.each do |comment| %>
  <li><p> <%=comment.message %></p></li>
<% end %>
</ul>

<%= form_for [@post, Comment.new] do |form| %>
  <%= form.label :message %>
  <%= form.text_field :message %>

  <%= form.submit "Submit" %>
<% end %>
